body {
    font-family: 'Arial', sans-serif;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #007bff !important;
}

.navbar-brand:hover {
    color: #0056b3 !important;
}

.navbar-nav .nav-item .nav-link {
    font-size: 1.2rem;
    margin-right: 20px;
}

.navbar-nav .nav-item.active .nav-link {
    font-weight: bold;
    color: #ff5733 !important;
}

.jumbotron {
    background-color: #f8f9fa;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
}

h1.display-4, h2.display-4 {
    font-size: 2.5rem;
}

.row div h2 {
    font-size: 2.5rem;
    color: #007bff;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.form-control {
    margin-bottom: 10px;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.table {
    margin-top: 20px;
}
